/* Webfont: ACaslon-SemiboldItalic */@font-face {
    font-family: 'ACaslonSemiboldItalic';
    src: url('ACaslon-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('ACaslon-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ACaslon-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('ACaslon-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ACaslon-SemiboldItalic.svg#ACaslon-SemiboldItalic') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

