/* Webfont: AdobeCaslon-SemiBoldItalic3 */@font-face {
    font-family: 'ACaslonRegular';
    src: url('AdobeCaslon-SemiBoldItalic3.eot'); /* IE9 Compat Modes */
    src: url('AdobeCaslon-SemiBoldItalic3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AdobeCaslon-SemiBoldItalic3.woff') format('woff'), /* Modern Browsers */
         url('AdobeCaslon-SemiBoldItalic3.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AdobeCaslon-SemiBoldItalic3.svg#AdobeCaslon-SemiBoldItalic3') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

