/* Webfont: AdobeCaslon-SemiBoldItalic2 */@font-face {
    font-family: 'ACaslonSemibold';
    src: url('AdobeCaslon-SemiBoldItalic2.eot'); /* IE9 Compat Modes */
    src: url('AdobeCaslon-SemiBoldItalic2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AdobeCaslon-SemiBoldItalic2.woff') format('woff'), /* Modern Browsers */
         url('AdobeCaslon-SemiBoldItalic2.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AdobeCaslon-SemiBoldItalic2.svg#AdobeCaslon-SemiBoldItalic2') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

